<div class="flex px-4">
  <input placeholder="Buscar"
        [formControl]="searchControl"
        class="input input-primary input-ghost input-sm w-full border-primary" type="search">
</div>

<div class="flex flex-row overflow-hidden p-4 gap-2">
  <button
  (click)="applyFilter(' ')"
  class="btn btn-sm btn-primary btn-soft "><fa-icon [icon]="faFilter">
</fa-icon></button>
  <button
  (click)="applyFilter(' ')"
  class="btn btn-sm btn-primary btn-soft ">All</button>
  @for (cat of categoriesArray; track cat) {
    <button
    (click)="setCategory(cat.id)"
    class="btn btn-sm btn-primary btn-soft ">{{ cat.name }}</button>
  }
</div>

<div class="p-4 grid lg:grid-cols-6 md:grid-cols-3 gap-4">
  @for (item of products; track $index) {

  <div class="flex h-full flex-col rounded-xl bg-base-100 shadow">
    <figure class="h-44 w-full overflow-hidden">
      <img
        class="h-full w-full object-cover"
        [ngSrc]="getThumb(item.thumbnailUrl!)"
        [alt]="item.name"
        width="400"
        height="176"

        [loading]="$index === 0 ? 'eager' : 'lazy'"
        decoding="async"
      />
    </figure>

    <div class="flex flex-1 flex-col p-4">
      <h2 class="text-lg font-semibold">{{ item.name }}</h2>

      <p class="mt-1 text-sm opacity-80 line-clamp-2">
        {{ item.description }}
      </p>

      <div class="mt-auto pt-4">
        <button class="btn btn-sm btn-primary w-fit" (click)="addToCart(item)">Agregar</button>
      </div>
    </div>
  </div>


  }

</div>
